body{
  margin: 0;
  user-select: none;
  background-color: #00004e;
  position: relative;
}
h1{
  margin: 0 0 30px;
}
.homebg{
  background-image: url(img/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  text-align: center;
  transition: opacity 1000ms;
}
.botton{
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  width: 30%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 20%;
  -webkit-animation:blink 1.5s ease-in-out infinite alternate;
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate;
}
.homebg.is-hidden{
  opacity: 0;
  pointer-events: none;
}
@-webkit-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}

.player{
  color: #fff;
  width: 80vw;
  height: 80vh;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.head2{
  display: none;
}
.cardelia{
  height: 300px;
  width: 90%;
  background-color: #fff;
  margin: auto;
  font-size: 0;
}
.card{
  height: 100%;
  width: 50%;
  margin: 0;
  display: inline-block;
  float: right;
  transition: 0.8s;
}
.name{
  font-size: 30px;
  margin: 20px 0 0;
}
.itimaime{
  margin-top: 20px;
}
.nimaime{
  display: none;
  margin: auto;
  margin-top: 20px;
}
.sentaku{
  display: none;
  margin: auto;
  margin-top: 20px;
}
.qestion{
  display: none;
}
.qestion p{
  font-size: 26px;
  margin: 0 0 20px;
}
.kotae{
  width: 100px;
  margin: 0 20px;
}
.block{
  display: block;
}
.none{
  display: none;
}
  
